<div class="container py-5">
    <section>
        <div class="row">
            <h1>Developer Dashboard</h1>
        </div>
        <div class="row">
            <h3 class="py-5">Service Requests from Members</h3>     
        </div>
        <div class="row">
            <ol class="service-list">
                {{#each services as |service|}}
                <li>
                {{> service-info service }}
                </li>
                {{/each}}
            </ol>
        </div>
    </section>

    {{#if accept-project.length}}
    <section>  
        <div class="row">
            <h3 class="py-5">Your Projects</h3>
            <ol class="accept-project">
                {{#each services as |service|}}
                <li>
                {{> service-info service }}
                </li>
                {{/each}}
            </ol>
        </div>
    </section> 
    
</div>
<script src="/javascript/accept-service.js"></script>


