<div class="wrapper">
    <div class="columns">
        <div class="column">
            <section>
                <h1>Developer Dashboard</h1>
       
                <h3 class="pt-5">Service Requests from Members</h3>     
        
        
                <ol class="service-list">
                {{#each services as |service|}}
                <li>
                {{> service-info service }}
                <button 
                </li>
                {{/each}}
                </ol>
            </section>
        </div>
        {{#if accept-project.length}}
        <div class="column">
            <section>  
                <h3 class="py-5">Your Projects</h3>
                <ol class="accept-project">
                {{#each services as |service|}}
                <li>
                {{> service-info service }}
                </li>
                {{/each}}
                </ol>
            </section>
            {{/if}}
        </div>
    </div>
<script src="/javascript/accept-service.js"></script>

</div>
